body {
  background-color: #f2f2f2;
}

/* Encabezado */
header {
  color: white;
  padding: 20px;
  text-align: center;
}

/* Imagen del encabezado */
header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  max-height: 150px;
}

/* Barra de navegación */
nav.navbar {
  font-size: 20px;
  padding: 10px;
}

/* Enlaces Navegación */
.navbar-nav .nav-link {
  color: white;
}

.navbar-nav {
  margin-left: auto; /* Asegura que el navbar-nav se alinee a la derecha */
}

#titulo-seccion {
  border-bottom: 3px solid gray;
  margin: 25px auto;
}

#lineaseccion {
  border-bottom: 1px solid gray;
  padding: 15px auto;
}

#cajatexto {
  margin: auto;
  padding: 50px;
  text-align: justify;
  font-family: Arial, sans-serif;
}

section h2 {
  text-align: center;
  color: rgb(35, 35, 129);
  text-shadow: 2px 2px 4px gray;
  padding: auto;
  margin: 20px auto;
  font-size: 40px;
}